<!DOCTYPE html>
<html>
<head>
  <title>AndrewmaddenCom</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Stint+Ultra+Expanded' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</head>
<body id='sexy-body'>
	<div id= 'container'>
		<div id= 'user_nav'>

			<% if user_signed_in? %>

				<div id='avatar'><%= image_tag avatar_url(current_user) %>

				 <strong><%= current_user.email %></strong>.</div>
				<%= link_to 'Edit Profile', edit_user_registration_path, id: 'edit-profile' %>
				<%= link_to 'Logout', destroy_user_session_path, method: :delete, id: 'logout' %>

				<%= link_to 'Profile', my_scores_path, id: 'profile' %>
				<%= link_to 'High Scores', high_scores_path, id: 'high_scores' %>
				<%= link_to 'Home', root_path, id: 'home' %>

			<% else %>
				<%= link_to 'Sign up', new_user_registration_path, id: 'signup' %>
				<a id="login" href="#">Login</a>
				<%= link_to 'Edit Profile', edit_user_registration_path, id: 'edit-profile', style: 'display: none;' %>
				<%= link_to 'Logout', destroy_user_session_path, method: :delete, id: 'logout', style: 'display: none;' %>
				<%= link_to 'Home', root_path, id: 'home' %>
				<%= link_to 'High Scores', high_scores_path, id: 'high_scores' %>


			<% end %>

		</div>

		<div id="darth-fader" style="display: none">
			<!-- <h2>Sign in</h2> -->
			<form id='sign-in-form'>
				<input type='text_field' id='user_email' autofocus>
				<input type='password' id='user_password'>
  				<input type='submit' value="Sign in" />
			</form>	
		</div>

		

		<%= yield %>
    </div>
</body>
</html>
